body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: left;
  font-family: system-ui;
}
div {
  id: "Personal Info";
  text-algin: center;
}
h1 {
  text-align: center;
}


